<h2>Featured artists</h2>
 
<h1>{{title}}</h1>
<h3>Genre: {{genre}}</h3>
<p>Plot: {{plot}}</p>
<p>cast: {{cast.name}}</p>
<button><a href="/movies/{{id}}/edit">Edit</a></button>
<hr/>
<p>Add a review</p>
<form action="/reviews/{{id}}/add" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Comment</label>
    <textarea name="comment"></textarea>
    <button type="submit">Add Review</button>
</form>
<hr/>
{{#each reviews}}
    <p>{{comment}} - {{name}}</p>
{{/each}}
 
